<!DOCTYPE html>
<html>

<body  style="background: -moz-linear-gradient(top, rgba(249,252,247,1) 0%, rgba(245,249,240,1) 100%);">
 <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag  "application" %>
 <%= form_tag( '/energy_search_admin', :method => :get,:id => 'dateform' ) do%>
<div class="container">                                                                                     
  <div class="energy-table-responsive" >          
  <table class="table" border="1" style="width:80%;">   
      <tr>
        <th rowspan="2"> <font size="6">Energy Report</font></th>
        <th>Controller No</th>
        <th>From Date</th>
        <th>To Date</th>
        <th rowspan="2">
	<button type="button" class="btn btn-default" id="search" >
          <span class="glyphicon glyphicon-search"></span> Search
        </button> </th>       
      </tr>
      <tr>      
    
 <td>
 <select  id="controllerid" name="controllerid" >
<%= options_for_select (@controllerid) %>
</select>


</select>
</td>
        <td><input  type="text" id="fromdate" name="fromdate" style="width:80px"></td>
        <td> <input  type="text" id="todate" name="todate" style="width:80px" ></td>
   
      </tr>
   
  </table>
  </div>
</div>
<%end%>


<script>

 $(function(){
      $("#fromdate").datepicker({
         dateFormat: 'yy/mm/dd',       
       onSelect: function(dateText) {
       
      }
   });
});
 

 $(function(){
      $("#todate").datepicker({
         dateFormat: 'yy/mm/dd',
         onSelect: function(dateText) {
         
       }
   }); 
});


$(
    function(){
     
        $('#search').click(function(){
                               
                   $("#dateform").submit();  
        });
        
    }
);
</script>

<div class="energydatapane" >
<table id="table_id" class="display nowrap" border="1" width="100%">
<thead>
<tr>
<th>Date </th>
<th>Time </th>
<th>kW Total</th>
<th>kW R.Phase</th>
<th>kW Y.Phase</th>
<th>kW B.Phase</th>
<th>Power <br> Factor <br> average</th>


</tr>
</thead>
<% @energy_data.each do |val| %>
<tr>
<td ><%= "#{val['updated_date']}" %></td>
<td><%= "#{val['updated_time']}" %></td>
<td><%= "#{val['kw_total']}" %></td>
<td><%= "#{val['kw_rphase']}" %></td>
<td><%= "#{val['kw_yphase']}" %></td>
<td><%= "#{val['kw_bphase']}" %></td>
<td><%= "#{val['power_factor_average']}" %></td>

</tr>
<% end %>
</table>
</div>

<script type="text/javascript">
  
        $('#table_id').DataTable(
{
        "scrollX": true,
	"scrollY": true,
	"oLanguage": {
   "sSearch": "Find: "
 },
dom: 'Bfrtip',
        buttons: [
		{
                extend: 'copyHtml5',
               messageTop: 'From Date: '+$('#fromdate').val()+"\n"+' To Date: '+$('#todate').val()+"\n",
                 title: 'APEX COMTEL - Solar Inverter',
		filename: $('#fromdate').val()+"-"+$('#todate').val()+"APEX COMTEL - Solar Inverter"
                },
		{
                extend: 'csvHtml5',
                messageTop: 'From Date: '+$('#fromdate').val()+"\n"+' To Date: '+$('#todate').val()+"\n",
                title: 'APEX COMTEL - Solar Inverter',
		filename: $('#fromdate').val()+"-"+$('#todate').val()+"APEX COMTEL - Solar Inverter"
                },
                {
                extend: 'excelHtml5',
                messageTop: 'From Date: '+$('#fromdate').val()+"  "+' To Date: '+$('#todate').val()+"\n",
                title: 'APEX COMTEL - Solar Inverter',
		filename: $('#fromdate').val()+"-"+$('#todate').val()+"APEX COMTEL - Solar Inverter"			
                },
                {
                 extend: 'pdfHtml5',
		 messageTop: 'From Date: '+$('#fromdate').val()+"\n"+' To Date: '+$('#todate').val()+"\n",
                 title: 'APEX COMTEL - Solar Inverter',
		 filename: $('#fromdate').val()+"-"+$('#todate').val()+"APEX COMTEL - Solar Inverter",
		 customize: function(doc) {
    			doc.styles.title = {
      			color: 'blue',
      			fontSize: '14',
     			alignment: 'center'
    		}   
  	      } 
                 
            },
	    {
                extend: 'print',
		orientation: 'landscape',
		//fontSize: '20',
		messageTop: 'From Date: '+$('#fromdate').val()+"\n"+' To Date: '+$('#todate').val()+"\n",
                title: 'APEX COMTEL - Solar Inverter',
		filename: $('#fromdate').val()+"-"+$('#todate').val()+"APEX COMTEL - Hybrid Solar Inverter",
		 
		 
  
	    }
        ]
}    
);
  
</script>
</body>
</html>
